.button {
    background-color: $colour-secondary;
    background: linear-gradient($colour-secondary, $colour-primary);
    padding: 0.8rem 2.2rem 0.8rem 2.2rem;
    margin-top: 1.5rem;
    border-radius: 30px; 
    font-size: 1.1em;
    color: $colour-white;
    transition: transform 0.7s;
    @media screen and (min-width: 1350px) {
        margin-top: 4rem;
    }
    &:hover {
        opacity: 0.9;
        transform: scale(1.05);
    }
}