.heart{
    font-size: 1.8rem;
    margin: 1rem 1.5rem 1rem 0;
    position: relative;
    &__like {
        display: flex;
        position: absolute;
        top: 0;
        left: -3rem;
        justify-content: center;
        align-items: center;
        &--empty {
            opacity: 1;
        }
        &--full {
            opacity: 0;
            @include color-gradient;
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
            transition: 0.4s;
            &:hover{
                opacity: 1;
                transform: scale(1.07);
            }
        }
    }
}

