
/*LOCALISATION*/
.local {
    display: flex;
    justify-content: center;
    background-color: $colour-background;

    &__icon {
        font-size: 1.3em;
        margin: 1.2rem 0.9rem 1.2rem 0
    }
    &__text {
        font-size: 1.15em;
        font-weight: bold;
        }
}

/*INFO*/

.container-info {
    display: flex;
    justify-content: center;
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2, p {
       flex-wrap: wrap;
       width: 90%;
       text-align: center; 
    }
}

/*TUTO*/ 

.container-tuto {
    padding: 2rem 1rem 2rem 1rem; 
}

.tuto {
    width: 100%;
    ol {
        padding: 0;
        margin: 0;
        li {
            margin: 1.5em;
            padding: 15px 20px 15px 20px;
            border-radius: 15px;
            background-color: $colour-background; 
            max-width: 1024px;
        }
    }
    &__icon {
        margin-right: 1rem;
    }
}

/*LISTE DES RESTAURANTS*/

.restaurant{
    display: flex;
    flex-direction: column; 
    background-color: $colour-background;
    padding: 0 1rem 2rem 1rem;
    &__block {
        margin: auto;
    }
}

.card{
    max-width: 1024px;
    border-radius: 1rem;
    margin: 25px 0.5rem 25px 0.5rem;
    background-color: $colour-white;
    color: $colour-black;
    position: relative;
    img{
        height: 170px;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    figure {
        margin: 0;
    }
    &__text {
        padding: 0.5rem;
        h3, p {
        margin: 0.3rem 0 0.3rem 1rem;
        font-size: 1.2rem;
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        font-size: 2rem;
        margin: 1rem 1.5rem 1rem 0;
    }
    &__badge {
        background-color: $colour-tertiary;
        padding: 0.5rem 1rem 0.5rem 1rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}