
/*LOCALISATION*/
.local {
    display: flex;
    justify-content: center;
    background-color: darken($colour-background, 5%);
    &__icon {
        font-size: 1.3em;
        margin: 1.2rem 0.9rem 1.2rem 0
    }
    &__text {
        font-size: 1.15em;
        font-weight: bold;
        }
}

/*INFO*/

.container-info {
    display: flex;
    justify-content: center;
    background-color: $colour-background;
    padding: 2.5rem 0 4rem 0;

}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2, p {
       flex-wrap: wrap;
       width: 90%;
       text-align: center; 
    }
}

/*TUTO*/ 

.container-tuto {
    padding: 2rem 1rem 2rem 1rem; 
}

.tuto {
    width: 100%;
    @media screen and (min-width: 1024px) and (max-width:1349px) {
        width: 95%;
        margin: auto;
    }
    @media screen and (min-width: 1350px){
        width: 70%;
        margin: auto;
    }
    ol {
        padding: 0;
        margin: 0;
        counter-reset: tutoList;
        @media screen and (min-width: 1024px){
            display: flex;
            justify-content: space-between;
        }
    
        li {
            margin: 1.5em;
            padding: 15px 20px 15px 30px;
            border-radius: 15px;
            background-color: $colour-background; 
            max-width: 1024px;
            font-weight: 700;
            list-style: none;
            counter-increment: tutoList;
            position: relative;
            @media screen and (min-width: 1024px){
                width: 400px;
            }
            &__pink {

            }
        }
        li:before {
            counter-increment: tutoList 0;
            content: counter(tutoList);
            background: $colour-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            left: -0.8rem
        }
        li:hover{
            background-color: lighten($color: $colour-primary, $amount:29);
        }
    }
    &__icon {
        margin-right: 1rem;
        color: darken($color: $colour-background, $amount: 50);
    
    }
}

/*LISTE DES RESTAURANTS*/

.restaurant{
    display: flex;
    flex-direction: column; 
    background-color: $colour-background;
    padding: 0 1rem 2rem 1rem;
    &__block {
        margin: auto;
        @media screen and (min-width: 1024px){
            width: 70%;
        }
        @media screen and (min-width: 1024px) and (max-width:1349px){
            width: 95%;
        }
    }
    &__container{
        a {
            width: 100%;
        }
        @media screen and (min-width: 1024px){
            margin: auto;
            display: flex;
        }
    }
}

.card{
    max-width: 1024px;
    border-radius: 1rem;
    margin: 25px 0.5rem 25px 0.5rem;
    background-color: $colour-white;
    color: $colour-black;
    position: relative;
    img{
        height: 170px;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    figure {
        margin: 0;
    }
    &__text {
        padding: 0.5rem;
        h3, p {
        margin: 0.3rem 0 0.3rem 1rem;
        font-size: 1.2rem;
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__badge {
        background-color: $colour-tertiary;
        padding: 0.5rem 1rem 0.5rem 1rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}