@keyframes meal-appear {
    0% {
        transform: scaleY(0);
        opacity: .1;
    }
    17% {
        transform: scaleY(.18);
    }
    35% {
        transform: scaleY(.4);
    }
    60% {
        transform: scaleY(.7);
        opacity: 1;
    }
    80% {
        transform: scaleY(.85); 
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes load {
    100% {
        z-index: -1;
        opacity: 0;
    }    
}

@keyframes load-move{
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0.5rem);
    }
    75% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translatey(0);
    }
}