footer {
    width: 100%;
}

.foot {
    padding: 10px; 
    background-color: #343434;
    color: $colour-white;
    &__title {
        font-family: "Shrinkhand";
        font-size: 1.2em;
        font-weight:lighter;
    }
    &__list {
        list-style-type: none;
        padding: 0;
    }
    &__icon {
        margin-right: 10px; 
    }
    a {
        color: $colour-white;
    }
}